
<html lang="en">
<head>
 {{> header}}
 <title>Add your Product</title>
</head>
<body>
 <h1>Register</h1>
 <div class="container">
  	{{> menu}}

   <form action="/users/upload/edit/{{id}}" method="POST" enctype="multipart/form-data">
    <label for="photo">Photo</label>
    <input type="file" name="photo">
    <button type="submit">Upload</button>
   </form>

  


   <form action="/users/update-product" method="POST">
     <img src="/uploads/{{imageURL}}" name="image" class="product-preview-image"/>
    <input type="hidden" name="productId" value="{{id}}">
    <div class="form-group">
     <label for="title">Title</label>
     <input type="text" name="title" class="form-control" placeholder="Enter title" value="{{title}}" />
    <div class="form-group">
     <label for="Description">Description</label>
     <textarea name="description" class="form-control" placeholder="Description">{{description}}</textarea>
    </div>
    <div class="form-group">
     <label for="price">Price</label>
     <input type="text" name="price" value="{{price}}">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
   </form>
   
{{#message}}
 <div class="alert alert-danger">{{message}}</div>
 {{/message}}
 </div>

 

 {{> footer}}
</body>
</html>